/* app.css */
body {

}
#root {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 9999;
    border-top-left-radius: 1em;
    min-width: 360px;
    min-height: 60px;
}
#viewport {
    cursor: pointer;
}
#webcam-canvas {
    display: none;
}
#webcam {
    display: none;
}
